.linkButton {
  display: inline-block;
  cursor: pointer;
  transition: color $transition-normal, background-color $transition-normal, border-color $transition-normal, opacity $transition-normal;

  &:hover {

  }

  &__icon {
    margin-right: 12px;
    vertical-align: text-bottom;
  }
}
