body {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  @include font-sans-regular();
  font-size: 18px;
  line-height: 1.7;
  color: $black;

  &.menu-opened {
    overflow: hidden;
  }
}

a {
  transition: color $transition-normal, border-color $transition-normal, background-color $transition-normal;
  cursor: pointer;
}

@media ($mobile) {
  body  {
    font-size: 16px;
    line-height: 1.5;
  }
}



// helpers
.clearfix {
  @include clearfix();
}

.hidden {
  display: none;
}

.nowrap {
  white-space: nowrap;
}

.bg {
  &--gray {
    background-color: #f8f8f8;
  }

  &--grayDark {
    background-color: #222222;
  }

  &--blueGradient {
    @include linear-gradient(90deg, $blue, #1675eb);
  }
}

.forDesktop {
  display: block;
}

.forDesktopTablet {
  display: block;
}

.forTablet {
  display: none;
}

.forMobile {
  display: none;
}

@media ($tablet) {
  .forDesktop {
    display: none;
  }

  .forTablet {
    display: block;
  }
}

@media ($mobile) {
  .forDesktopTablet {
    display: none;
  }

  .forMobile {
    display: block;
  }
}



// common blocks
.contentWrapper {
  overflow: hidden;
}

.section {
  @include clearfix();
}

.titleMain {
  position: relative;
  margin: 88px 0 41px;
  padding-bottom: 42px;
  @include font-raleway-regular();
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;

  &:before {
    content: '';
    display: inline-block;
    width: 70px;
    height: 5px;
    margin-left: -35px;
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: $blue;
  }

  &--blue {
    color: $blue;
  }

  &--white {
    color: $white;

    &:before {
      background-color: $white;
    }
  }
}

.subtitleMain {
  margin: 53px 0 36px;
  @include font-raleway-bold();
  font-size: 36px;
  line-height: 44px;
  text-align: center;
}

.contentIn {
  position: relative;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 55px;
}

.infoMain {
  margin-bottom: 30px;
  text-align: center;
}

@media ($tablet) {
  .contentIn {
    padding: 0 20px;
  }
}

@media ($mobile) {
  .contentIn {
    padding: 0 15px;
  }

  .titleMain {
    margin: 58px 0 41px;
    font-size: 36px;
    line-height: 48px;
  }

  .subtitleMain {
    margin: 46px 0 36px;
    font-size: 30px;
    line-height: 36px;
  }
}



// img
.imgWrapper {

}

.imgWrapper__img {
  vertical-align: middle;
}
