.iconWrapper {

}

.icon {
  vertical-align: middle;
}



.icon--controller {

}

.icon--node {

}

.icon--wallet {

}

.icon--purse {
  @include icon(purse, 56px, 49px);
}

.icon--person {
  @include icon(person, 64px, 64px);
}

.icon--equipment {
  @include icon(equipment, 47px, 56px);
}

.icon--win {

}

.icon--mac {

}

.icon--and {

}

.icon--coins {
  @include icon(mining, 40px, 36px);
}

.icon--monitor {
  @include icon(high_speed, 35px, 35px);
}

.icon--security {
  @include icon(security, 40px, 40px);
  background-position: 12px center;
}

.icon--alternative {
  @include icon(alternative, 40px, 31px);
}

.icon--sustainability {
  @include icon(sustainability, 40px, 40px);
}

.icon--stability {
  @include icon(stability, 40px, 40px);
}



.iconBg {
  &--blue {
    @include blue-bg-shadow(50%);
  }

  &__icon {
    width: 100%;
    height: 100%;
  }
}
