/*
mixins for:
  clearfix
  background-image
  linear-gardient
  show animation
  hide animation
  backgrounds

  fonts

  max lines of text
*/

@mixin clearfix() {
  overflow: hidden;
  zoom: 1;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin icon($name, $width, $height) {
  display: inline-block;
  width: $width;
  height: $height;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../img/icons/svg/#{$name}.svg');
  background-size: $width $height;
}

@mixin linear-gradient($angle, $from, $to) {
  background: $from;
  background: linear-gradient($angle, $from 0%, $to 100%);
}

@mixin show() {
  visibility: visible;
  opacity: 1;
  transition: opacity $transition-normal, visibility $transition-normal;
}

@mixin hide() {
  visibility: hidden;
  opacity: 0;
  transition: opacity $transition-normal, visibility $transition-normal;
}



// backgrounds
@mixin blue-bg-shadow($b-radius: false) {
  @include linear-gradient(90deg, $blue, #1675eb);
  box-shadow: 0 5px 15px rgba(22, 118, 235, 0.5);
  @if ($b-radius) { border-radius: $b-radius; }
}

@mixin gray-bg-shadow($b-radius: false) {
  @include linear-gradient(90deg, #454547, #27282a);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  @if ($b-radius) { border-radius: $b-radius; }
}



// fonts
@mixin font-raleway-regular() {
  font-family: 'ralewayregular', sans-serif;
  font-weight: 400;
}

@mixin font-raleway-semibold() {
  font-family: 'ralewaysemibold', sans-serif;
}

@mixin font-raleway-bold() {
  font-family: 'ralewaybold', sans-serif;
}

@mixin font-sans-regular() {
  font-family: 'open_sansregular', sans-serif;
}

@mixin font-sans-semibold() {
  font-family: 'open_sanssemibold', sans-serif;
}

@mixin font-sans-bold() {
  font-family: 'open_sansbold', sans-serif;
}



//You want X lines of text. Anything after that gracefully cut off
@mixin maxTextLines($maxLinesNumber) {
  display: -webkit-box;
  -webkit-line-clamp: $maxLinesNumber;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
