* {
	border: 0 none;
}

* {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0 none;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	vertical-align: baseline;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-size: 100%;
}

ul, ol {
	list-style: none;
}

:focus {
	outline: 0;
}

:link, :visited {
	text-decoration: none;
}

a {
	text-decoration: none;
}

a img {
	border: 0;
}

sup {
	vertical-align: super;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
time {
	display: block;
}
