$white:         #fff;
$blue:          #16a2eb;
$red:           #ff4c4c;
$black:         #000;



// animation
$transition-normal: .3s linear;
$transition-fast: .1s linear;



// screen resolutions
$tablet: 'max-width: 992px';
$mobile: 'max-width: 767px';
