.advantagesWrapper {
  position: relative;
  margin: 59px 0 84px;

  &__imgWrapper {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 37.5%;
    margin-left: -18.75%;
  }

  &__img {
    width: 100%;
  }
}

.advantages {
  display: flex;
  justify-content: space-between;

  &__info {
    flex-basis: 260px;
  }
}



.advantagesList {

  &--textRight {
    text-align: right;
  }

  &__item {
    margin-bottom: 100px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__icon {

  }

  &__title {
    margin-bottom: 15px;
    @include font-sans-bold();
  }

  &__info {
    font-size: 17px;
    line-height: 24px;
  }
}
