@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}



.animationBlock {
  &--fadeInLeft {
    transform: translate3d(-100%, 0, 0);

    &.js-animation-enable {
      animation: fadeInLeft 1s ease forwards;
    }
  }

  &--fadeInRight {
    transform: translate3d(100%, 0, 0);

    &.js-animation-enable {
      animation: fadeInRight 1s ease forwards;
    }
  }

  &--fadeInUp {
    transform: translate3d(0, 100%, 0);

    &.js-animation-enable {
      animation: fadeInUp 1s ease forwards;
    }
  }
}
