.footer {
  padding-top: 103px;
  background-color: #1a1a1a;
  font-size: 17px;
  line-height: 24px;
  color: #535353;

  &__title {
    margin-bottom: 37px;
    @include font-sans-bold();
    text-transform: uppercase;
    color: $blue;
    cursor: default;
  }

  &__social {
    margin-top: -17px;
  }

  &__copyright {
    margin-top: 62px;
    padding: 31px 0;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: $white;
  }
}

@media ($mobile) {
  .footer {
    padding-top: 65px;

    &__title {
      position: relative;
      margin-bottom: 7px;
      cursor: pointer;

      &:before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 7px;
        right: 22px;
        @include icon(arrow_blue, 9px, 6px);
        transform: rotate(180deg);
        transition: transform $transition-normal;
      }

      &.is-active {
        &:before {
          transform: rotate(0deg);
        }
      }
    }

    &__social {
      margin-top: 10px;
    }

    &__copyright {
      margin-top: 0;
      padding: 16px 0 25px;
    }

    .footer__copyrightInfo {
      display: block;
      line-height: 20px;
    }
  }
}



.footerCols {
  display: flex;

  &__col {
    flex-basis: 20%;
  }

  &__langSelect {
    position: relative;
    margin: -13px 0 45px;
  }

  &__lang {
    top: 100%;
    right: 0;
    left: 0;
    margin-top: 10px;
    max-height: 230px;
    overflow: auto;
  }
}

@media ($mobile) {
  .footerCols {
    flex-wrap: wrap;

    &__col {
      flex-basis: 100%;
      margin-bottom: 10px;
    }

    &__in {
      &--social {
        margin-top: 17px;
      }
    }

    &__menu {
      padding-bottom: 9px;
    }

    &__langSelect {
      margin: 13px 0 25px;
    }
  }
}



.footerColsInfo {
  flex-basis: 40%;
  padding-right: 5%;

  &__logo {
    height: 15px;
    margin: 0 0 45px 0;
  }

  &__text {
    margin-bottom: 25px;
    font-size: 17px;
    line-height: 24px;
  }
}

@media ($mobile) {
  .footerColsInfo {
    flex-basis: 100%;
    padding-right: 0;
    order: 1;

    &__logo {
      display: block;
      height: 11px;
      margin: 39px auto 25px;
    }

    &__text {
      font-size: 15px;
    }
  }
}



.footerMenu {
  &__item {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    font-size: 17px;
    color: #7e7e7e;

    &:hover {
      color: $white;
    }
  }
}

@media ($mobile) {
  .footerMenu {
    &__item {
      margin-bottom: 11px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__link {
      font-size: 15px;
    }
  }
}



.footerSocial {
  &__link {
    margin-right: 20px;
    vertical-align: middle;

    &--fb {
      @include icon(fb, 12px, 23px);

      &:hover {
        @include icon(fb_hover, 12px, 23px);
      }
    }

    &--youtube {
      @include icon(youtube, 21px, 16px);

      &:hover {
        @include icon(youtube_hover, 21px, 16px);
      }
    }

    &--vk {
      @include icon(vk, 25px, 15px);

      &:hover {
        @include icon(vk_hover, 25px, 15px);
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
