.header {
  height: 880px;
  min-height: 680px;
  text-align: center;
  background: url('../img/header_bg.jpg') no-repeat top center;
  background-size: cover;

  &__in {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__title {
    font-size: 0;
    flex-basis: 100%;
  }

  &__logo {
    width: 70%;
    max-width: 600px;
  }

  &__buttons {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 80px;
  }

  &__button {
    display: block;
    margin: 0 auto 20px;
    width: 370px;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    @include font-sans-bold();

    &.linkButton--whiteTransparent {
      line-height: 58px;

      &:hover {
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
      }
    }
  }

  &__scroll {
    display: inline-block;
    width: 30px;
    height: 55px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -15px;
    animation: scroll-toggle 3s infinite linear;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -10px;
      @include icon(mouse, 21px, 30px);
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -5px;
      @include icon(arrow_white, 11px, 16px);
    }
  }
}

@media ($mobile) {
  .header {
    height: 480px;
    min-height: 480px;

    &__logo {
      width: 90%;
      max-width: 300px;
    }

    &__buttons {
      bottom: 70px;
    }

    &__button {
      margin-bottom: 10px;
      width: 100%;
      max-width: 290px;
      font-size: 16px;
      height: 50px;
      line-height: 50px;

      &.linkButton--whiteTransparent {
        line-height: 48px;
      }
    }

    &__scroll {
      bottom: 20px;
      animation: scroll-toggle-mobile 3s infinite linear;
    }
  }
}
