.header {
  height: 880px;
  min-height: 680px;
  text-align: center;
  background: url('../img/header_bg.jpg') no-repeat top center;
  background-size: cover;

  &__in {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__title {
    font-size: 0;
    flex-basis: 100%;
  }

  &__logo {
    width: 70%;
    max-width: 600px;
  }

  &__buttons {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 80px;
  }

  &__button {
    display: block;
    margin: 0 auto 20px;
    width: 230px;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    @include font-sans-bold();

    &.linkButton--whiteTransparent {
      line-height: 58px;
    }
  }
}

@media ($mobile) {
  .header {
    height: 400px;
    min-height: 400px;

    &__logo {
      width: 90%;
      max-width: 300px;
    }

    &__buttons {
      bottom: 10px;
    }

    &__button {
      margin-bottom: 10px;
      font-size: 16px;
      height: 50px;
      line-height: 50px;

      &.linkButton--whiteTransparent {
        line-height: 48px;
      }
    }
  }
}
