$lang-list: ar ch de en fr ind it jp ko kk ms mn pt-br ru es th tr vi;

@mixin icon-lang($name, $width, $height) {
  content: '';
  position: absolute;
  top: 11px;
  left: 16px;
  display: inline-block;
  width: $width;
  height: $height;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../img/icons/lang/#{$name}.svg');
  background-size: $width $height;
}

.lang {
  display: flex;
  flex-wrap: wrap;

  &--cols2 {
    .lang__item {
      flex-basis: 50%;
    }
  }

  &__item {
    flex-basis: 100%;
    position: relative;
    font-size: 14px;

    &--special {
      font-size: 16px;
      @include font-sans-bold();
    }
  }

  &__link {
    display: block;
    padding-left: 55px;
    height: 46px;
    line-height: 46px;
    color: $black;
    background-color: $white;

    &:hover {
      background-color: #f3f3f3;
    }
  }
}

@each $lang in $lang-list {
  .lang__item--#{$lang} {
    .lang__link {
      &:before {
        @include icon-lang($lang, 24px, 24px);
      }
    }
  }
}

@media (max-width: 767px) {
  .lang {
    &--cols2 {
      .lang__item {
        flex-basis: 100%;
      }
    }
  }
}



.langSelect {
  &__current {
    position: relative;
    height: 44px;
    padding: 0 35px 0 17px;
    font-size: 17px;
    line-height: 42px;
    color: #7e7e7e;
    border: 1px solid #7e7e7e;
    cursor: pointer;
    border-radius: 3px;

    &:before {
      content: '';
      @include icon(arrow_gray, 9px, 5px);
      position: absolute;
      top: 18px;
      right: 15px;
    }
  }
}
