.messenger {
  padding: 0 0 75px;

  &__info {
    max-width: 940px;
    margin: 0 auto 41px;
  }

  &__wallets {
    margin-bottom: 70px;
  }
}

@media ($mobile) {
  .messenger {
    padding: 0 0 50px;

    &__title {
      margin-bottom: 25px;
    }

    &__info {
      margin-bottom: 25px;
    }

    &__in {
      flex-direction: column-reverse;

      .colFlex {
        margin-bottom: 18px;
      }
    }

    &__wallets {
      margin-bottom: 0;
    }
  }
}



.messengerCols {
  display: flex;
  align-items: center;
  justify-content: center;

  &__col {
    position: relative;
    z-index: 5;

    &--left {
      margin-right: -50px;
    }

    &--right {
      margin-left: -50px;
      z-index: 2;
    }

    &:last-child {
      z-index: 1;
    }
  }

  &__img {
    max-width: 100%;
  }
}

@media ($mobile) {
  .messengerCols {
    margin: 0 -92px;

    &__col {

      &:first-child,
      &:last-child {
        display: none;
      }
    }
  }
}
