.minting {
  padding-bottom: 60px;

  &__subtitle {
    margin-top: 0;
    padding-top: 23px;
  }

  &__about {
    margin-bottom: 35px;
    font-size: 17px;
  }

  &__cols {
    display: flex;
    font-size: 17px;
  }

  &__scheme {
    flex-basis: 680px;
    flex-shrink: 0;
    margin-top: 27px;
    margin-right: 30px;
  }

  &__info {
    flex-basis: 50%;
  }
}

@media (max-width: 1200px) {
  .minting {
    &__cols {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__scheme {
      margin-bottom: 30px;
    }

    &__info {
      flex-basis: 100%;
    }
  }
}

@media ($mobile) {
  .minting {
    padding-bottom: 47px;

    &__subtitle {
      margin: 37px 0 15px;
      padding: 0 20px;
    }

    &__about {
      margin-bottom: 0;
      font-size: 15px;
      line-height: 24px;
    }

    &__cols {
      font-size: 15px;
      line-height: 24px;
    }

    &__scheme {
      flex-basis: 100%;
      margin-bottom: 5px;
    }
  }
}



.mintingScheme {
  position: relative;

  &__img {
    width: 445px;
  }
}

@media ($mobile) {
  .mintingScheme {
    &__img {
      display: block;
      width: 100%;
      max-width: 420px;
      margin: 0 auto 10px;
    }
  }
}



.mintingSchemeList {
  &__item {
    position: absolute;
    right: 5px;
    width: 280px;
    height: 70px;
    padding-left: 75px;
    padding-right: 20px;
    line-height: 70px;
    color: $white;
    background-color: $blue;
    box-shadow: 0 5px 15px rgba(22, 118, 235, 0.5);
    border-radius: 35px;

    &:before {
      content: '';
      display: inline-block;
      width: 15px;
      height: 15px;
      position: absolute;
      z-index: 5;
      background-color: $white;
      border: 5px solid #1a70db;
      border-radius: 50%;
      box-shadow: 0 5px 15px rgba(0,0,0, 0.25);
    }
    &:after {
      content: '';
      display: inline-block;
      height: 1px;
      background-color: #cdcdce;
      position: absolute;
      right: 100%;
    }

    &:nth-child(1) {
      top: 49px;

      &:before {
        top: 60px;
        left: -95px;
      }
      &:after {
        top: 52px;
        margin-right: -3px;
        width: 85px;
        transform: rotate(-23deg);
      }

      .mintingSchemeList__title {
        padding-top: 5px;
        line-height: 24px;
      }
    }
    &:nth-child(2) {
      top: 189px;

      &:before {
        top: 22px;
        left: -48px;
      }
      &:after {
        top: 34px;
        width: 30px;
      }
    }
    &:nth-child(3) {
      top: 329px;

      &:before {
        bottom: 60px;
        left: -95px;
      }
      &:after {
        bottom: 52px;
        margin-right: -3px;
        width: 85px;
        transform: rotate(23deg);
      }
    }
  }

  &__icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: $white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
  }

  &__title {
    @include font-sans-semibold();
  }

  &__info {
    font-size: 14px;
    line-height: 16px;
  }
}

@media ($mobile) {
  .mintingSchemeList {
    &__item {
      position: relative;
      margin: 0 auto 20px;

      &:before,
      &:after {
        display: none;
      }

      &:nth-child(n) {
        top: auto;
        right: auto;
      }
    }
  }
}



.mintingInfo {
  &__text {
    margin-bottom: 31px;
  }

  &__title {
    margin-bottom: 13px;
    @include font-raleway-semibold();
    font-size: 24px;
  }
}

@media ($mobile) {
  .mintingInfo {
    &__text {
      margin-bottom: 25px;
    }

    &__title {
      margin-bottom: 23px;
      font-size: 20px;
    }
  }
}



// diagram
.diagram {
  position: relative;
  width: 450px;
  height: 450px;
  border-radius: 50%;

  &__big {
    position: absolute;
    top: 0;
    left: 0;
    width: 450px;
    height: 450px;
    border: 20px solid #ffe8e8;
    border-radius: 50%;
    animation-delay: 1.3s;
  }

  &__circle {
    width: 270px;
    height: 270px;
    position: absolute;
    top: 90px;
    left: 90px;
    border: 2px solid #c0c0c1;
    border-radius: 50%;
    animation-delay: 0.9s;
  }
}

.diagramInfo {
  width: 228px;
  height: 228px;
  padding-top: 44px;
  position: absolute;
  top: 111px;
  left: 111px;
  text-align: center;
  text-transform: uppercase;
  border: 7px solid $blue;
  border-radius: 50%;
  box-shadow: 0 10px 25px rgba(0,0,0, 0.15);

  &__title {
    margin-bottom: 28px;
    @include font-raleway-bold();
    font-size: 30px;
    line-height: 30px;
  }

  &__blue {
    color: #1a70db;
  }

  &__description {
    @include font-sans-bold();
    font-size: 12px;
    line-height: 24px;
  }
}
