.roadmap {
  padding: 20px 0 55px;
  color: $white;
}

@media ($mobile) {
  .roadmap {
    padding: 10px 0 25px;
  }
}



.roadmapItem {
  position: relative;
  margin-right: 50%;
  padding-bottom: 78px;
  padding-right: 210px;
  text-align: right;

  &:before {
    content: '';
    position: absolute;
    top: 20px;
    right: -128px;
    display: inline-block;
    width: 257px;
    height: 123px;
    background: url('../img/roadmap_line1.png') no-repeat center center;
  }

  &--right {
    margin-right: 0;
    margin-left: 50%;
    padding-right: 0;
    padding-left: 210px;
    text-align: left;

    &:before {
      right: auto;
      left: -128px;
      width: 257px;
      height: 123px;
      background-image: url('../img/roadmap_line2.png');
    }

    .roadmapItem {
      &__point {
        right: auto;
        left: 115px;
      }
    }
  }

  &:last-child {
    &:before {
      display: none;
    }
  }

  &__in {
    position: relative;
  }

  &__point {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 11px;
    right: 115px;
    background-color: $white;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(255,255,255, 0.5);
  }

  &__title {
    margin-bottom: 5px;
    @include font-sans-bold();
    font-size: 24px;
  }

  &__info {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
  }
}

@media ($tablet) {
  .roadmapItem {
    padding-right: 165px;

    &--right {
      padding-right: 0;
      padding-left: 165px;
    }
  }
}

@media ($mobile) {
  .roadmapItem {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 60px;
    padding-bottom: 40px;
    text-align: left;

    &:before {
      left: 10px;
      right: auto;
      top: 10px;
      bottom: -5px;
      width: 1px;
      height: auto;
      background: #66c0f2;
    }

    &--right {
      .roadmapItem {
        &__point {
          left: 0;
        }
      }
    }

    &__point {
      top: 5px;
      right: auto;
      left: 0;
    }

    &__title {
      font-size: 20px;
    }

    &__info {
      position: static;
      padding-right: 10px;
    }
  }
}
