.roadmap {
  color: $white;
}



.roadmapItem {

  &--right {

  }

  &__point {

  }

  &__title {
    margin-bottom: 10px;
    @include font-sans-bold();
    font-size: 24px;
  }

  &__info {

  }
}
