.wallets {

  &__info {

  }

  &__screens {

  }
}



.walletsInfo {

  &__text {

  }

  &__delimiter {

  }

  &__delimiterHelper {

  }
}



.walletsButtons {
  text-align: center;

  &__button {
    height: 60px;
    margin: 0 5px;
    padding: 0 28px;
    @include font-sans-bold();
    font-size: 16px;
    line-height: 60px;
    color: $white;
    @include blue-bg-shadow(30px);
  }
}



.walletsInfoList {

  &__item {

  }

  &__link {

  }
}



.walletsScreens {

  &__img {

  }
}
